@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Abel");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  background-color: #dfdfe9; }

#header {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px; }
  #header .title {
    width: 70%;
    margin: 0 auto;
    font-size: 20px;
    text-align: center; }
  #header .success_message,
  #header .error_message {
    width: 70%;
    margin: 0 auto;
    font-size: 14px; }
  #header .success_message,
  #header .error_message {
    position: relative;
    margin: 2em auto;
    padding: 15px 35px 15px 25px;
    width: 90%;
    /* ボックス幅 */
    background-color: #FFE4E1;
    /* ボックス背景色 */
    color: #666666;
    /* 文章色 */
    box-shadow: 4px 4px 1px #FFB6C1;
    /* 影の色 */ }
  #header .success_message::before,
  #header .error_message::before {
    position: absolute;
    content: '';
    top: -15px;
    right: 10px;
    height: 55px;
    width: 15px;
    border: 3px solid #C0C0C0;
    /*クリップ色 */
    background-color: none;
    border-radius: 12px;
    box-shadow: 1px 1px 2px #ccc;
    /*クリップ影*/
    transform: rotate(10deg);
    z-index: 1; }
  #header .success_message::after,
  #header .error_message::after {
    position: absolute;
    content: '';
    top: 0px;
    width: 10px;
    right: 20px;
    border: solid 5px #FFE4E1;
    /*背景色と同じ色に！*/
    z-index: 2; }

@media (min-width: 768px) {
  #header .title {
    width: 50%; }
  #header .success_message,
  #header .error_message {
    width: 50%; } }
#input_board {
  width: 100%; }
  #input_board .name_board {
    width: 80%;
    margin: 0 auto;
    margin-top: 20px; }
    #input_board .name_board .name_label {
      display: block;
      font-size: 16px;
      width: 100%;
      margin: 0 auto; }
    #input_board .name_board .name_input {
      display: block;
      width: 100%;
      margin: 0 auto;
      height: 30px;
      border-radius: 5px;
      font-size: 16px; }
  #input_board .message_board {
    width: 80%;
    margin: 0 auto;
    margin-top: 20px; }
    #input_board .message_board .message_label {
      display: block;
      font-size: 16px;
      width: 100%;
      margin: 0 auto; }
    #input_board .message_board .message_input {
      display: block;
      width: 100%;
      margin: 0 auto;
      height: 100px;
      border-radius: 5px;
      font-size: 16px; }
  #input_board .btn_flex {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; }
    #input_board .btn_flex .btn_board {
      margin-top: 20px; }
      #input_board .btn_flex .btn_board .btn {
        border-radius: 5px; }
      #input_board .btn_flex .btn_board .input_btn {
        background-color: #dfdfe9; }
      #input_board .btn_flex .btn_board .input_btn:hover {
        background-color: #9ec34b;
        border-color: #cbe585;
        color: #FFF; }

@media (min-width: 768px) {
  #input_board .name_board {
    width: 40%; }
    #input_board .name_board .name_input {
      font-size: 16px; }
  #input_board .message_board {
    width: 40%; }
    #input_board .message_board .message_input {
      font-size: 16px; }
  #input_board .btn_flex {
    width: 40%; }
    #input_board .btn_flex .btn_board .btn {
      font-size: 16px; } }
.btn {
  display: inline-block;
  max-width: 180px;
  text-align: left;
  border: 2px solid #9ec34b;
  font-size: 16px;
  color: #9ec34b;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 4px;
  transition: .4s; }

.btn:hover {
  background-color: #9ec34b;
  border-color: #cbe585;
  color: #FFF; }

#output_board {
  width: 100%;
  border-top: 1px solid #000;
  margin-top: 20px;
  margin-bottom: 20px; }
  #output_board .article {
    width: 90%;
    margin: 0 auto;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px; }
    #output_board .article .info {
      display: flex;
      color: #36188f; }
      #output_board .article .info .info_view_name {
        font-size: 12px;
        margin-right: 5px; }
      #output_board .article .info .info_post_date {
        font-size: 12px; }
    #output_board .article .message_text {
      font-size: 16px;
      margin-top: 5px;
      color: #36188f; }

@media (min-width: 768px) {
  #output_board .article {
    width: 50%;
    padding: 20px;
    margin-top: 30px; }
    #output_board .article .info .info_view_name {
      margin-right: 20px;
      font-size: 14px; }
    #output_board .article .info .info_post_date {
      font-size: 14px; }
    #output_board .article .message_text {
      margin-top: 20px; } }
.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
  display: none; }
  .modal #login_modal {
    position: absolute;
    top: 20%;
    left: 10%;
    background-color: #e6ecf0;
    padding-top: 10px;
    padding-bottom: 40px;
    border-radius: 10px;
    width: 80%;
    text-align: center; }
    .modal #login_modal #close_btn {
      width: 10%;
      margin: 0 0 0 auto;
      margin-right: 20px;
      margin-bottom: 20px;
      opacity: 0.6; }
      .modal #login_modal #close_btn .close_btn_img {
        width: 100%; }
    .modal #login_modal #close_btn:hover {
      opacity: 1; }
    .modal #login_modal .admin_login_title {
      font-size: 1.2rem;
      font-weight: bold;
      text-align: center; }
    .modal #login_modal .login_board {
      width: 80%;
      margin: 0 auto; }
      .modal #login_modal .login_board .pass_label {
        display: block;
        width: 100%;
        margin: 0 auto;
        text-align: left;
        margin-top: 30px; }
      .modal #login_modal .login_board .pass_input {
        display: block;
        width: 100%;
        margin: 0 auto;
        border-radius: 5px;
        font-size: 15px;
        margin-top: 10px; }
    .modal #login_modal .btn_board {
      margin-top: 30px; }
      .modal #login_modal .btn_board .btn {
        text-align: center; }

@media (min-width: 768px) {
  .modal #login_modal {
    width: 40%;
    top: 25%;
    left: 30%;
    padding-top: 30px;
    padding-bottom: 40px; }
    .modal #login_modal #close_btn {
      width: 6%;
      margin-right: 20px;
      margin-bottom: 10px; }
    .modal #login_modal .login_board {
      width: 70%; }
      .modal #login_modal .login_board .pass_input {
        font-size: 18px; }
    .modal #login_modal .btn_board {
      margin-top: 50px; } }
#header .sub_title {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 40px; }

#logout {
  width: 38%;
  margin: 0 auto;
  text-align: center; }

#output_board .article .info .edit_btn {
  margin-left: 20px;
  border-radius: 5px; }
  #output_board .article .info .edit_btn a {
    color: #000; }
#output_board .article .info .edit_btn:hover {
  opacity: 0.6; }

#modal_show #login_modal .close_btn_edit {
  margin-bottom: 5px !important; }
#modal_show #login_modal .edit_title {
  padding-bottom: 5px;
  font-size: 1.5rem;
  font-weight: bold; }
#modal_show #login_modal .name_board_edit {
  width: 80%;
  margin: 0 auto;
  margin-top: 20px; }
  #modal_show #login_modal .name_board_edit .name_label_edit {
    display: block;
    font-size: 16px;
    width: 100%;
    margin: 0 auto;
    text-align: left; }
  #modal_show #login_modal .name_board_edit .name_input_edit {
    display: block;
    width: 100%;
    margin: 0 auto;
    height: 30px;
    border-radius: 5px;
    font-size: 16px; }
#modal_show #login_modal .message_board_edit {
  width: 80%;
  margin: 0 auto;
  margin-top: 20px; }
  #modal_show #login_modal .message_board_edit .message_label_edit {
    display: block;
    font-size: 16px;
    width: 100%;
    margin: 0 auto;
    text-align: left; }
  #modal_show #login_modal .message_board_edit .message_input_edit {
    display: block;
    width: 100%;
    margin: 0 auto;
    height: 100px;
    border-radius: 5px;
    font-size: 16px; }
#modal_show #login_modal .flex_btn {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: 0 auto; }
  #modal_show #login_modal .flex_btn .btn_board .bnt {
    color: red; }

/*# sourceMappingURL=style.css.map */
